/*-----fonts-----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/*--------*/


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #383838;
  box-sizing: border-box;
}
.svg__none{
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}
.content {
  max-width: 1440px;
  margin: 0 auto;
}
h1{
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
}
h2{
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}
input{
  background-color: #ffffff;
}
.font-500{
  font-weight: 500;
}
/*------header-----*/

.header{
  margin:51px 104px 0;
  display:flex;
  justify-content: space-between;
}
.header__logo{
  height: 40px;
  width: 240px;
}
.header__akaunt-svg{
  width: 40px;
  height: 40px;
}
.header__night-svg{
  width: 32px;
  height: 32px;
}
.header__list{
  display: flex;
  gap: 48px;
}
.header__item{
  display:flex;
  gap:24px;
}
.header__list--link{
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.header__list--link:hover{
  border-bottom:4px solid #F5BD41;
}



/*------main-----*/

/*blok1*/
main{
  margin-top: -100px;
}
.section-one{

  background: url('../image/фон_блок1.jpg');
  padding: 293px 104px 0;
  min-height: 100vh;
}
.form__label {
  display: flex;
  gap:221px;
  margin: 100px 0 24px 24px ;
}
.form__inpyt {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  background: #FFFFFF;
  border-radius: 8px;
}
.form__title{
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.form__city {
  width: 470px;
  border-radius: 8px;
  border:3px solid #ffffff;
  color: #383838;
  padding: 22px 0 21px 24px;
}
.form__date {
  width: 260px;
  border-radius: 8px;
  border:3px solid #ffffff;
  color: #383838;
  padding: 22px 0 21px 24px;
}
.form__people {
  width: 315px;
  border-radius: 8px;
  border:3px solid #ffffff;
  color: #383838;
  padding: 22px 0 21px 24px;
}
.form__button {
  width: 190px;
  background: #3077C6;
  border:3px solid #3077C6;
  border-radius: 8px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}
.form__city:hover,
.form__date:hover,
.form__people:hover{
  border: 3px solid #F5BD41;
}
.section-one__downloads {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 120px 0;
}

/*block2*/
.section-two {
  padding: 120px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.section-two__advantages {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin-top: 88px;
}
.section-two__after::after {
  content: " ";
  display: block;
  width: 100px;
  height: 4px;
  margin: 20px auto 0;
  background-color: #f5bd41;
}
.advantages__cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.advantages__cart--svg{

  width:100px;
  height: 100px;
  right: 100px;


}
.advantages__cart--p{
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}



/*-----footer-----*/
.footer {
  background-color: #10367c;
  padding: 120px 270px 120px 105px;
}
.footer__block {
  display: flex;
}
.footer__block--ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__block--ul a{
  color: #ffffff;
  white-space: nowrap;
  font-size: 20px;
  line-height: 23px;
}
.about {
  margin-right: 223px;
}
.property {
  margin-right: 295px;
}
.footer__block--p {
  margin-top: 64px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
